@model IEnumerable<ASP_UI.Models.ViewModels.StoreHouseViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>Склад</h1>
@if (User.IsInRole("admin") || User.IsInRole("storekeeper"))
{
<p>
    <a asp-action="Create">Добавить</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Тип препарата
            </th>
            <th>
                Форма препарата
            </th>
            <th>
                Кол-во на складе
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("storekeeper"))
                {
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Списать</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
