@model IEnumerable<BLL.DTOs.MedicalBillsDTO>
@using Microsoft.AspNetCore.Authorization

@{
    ViewData["Title"] = "List";
}
<h1>Препараты</h1>

<p>
    @if(User.IsInRole("admin") || User.IsInRole("storeman")){
        <a asp-action="Create" class="btn btn-primary">Добавить</a>
     }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Тип препарата
            </th>
            <th>
                Форма препарата
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalBillsType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Form.FormName)
            </td>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("storekeeper") || User.IsInRole("client"))
                 {
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Удалить</a>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Изменить</a>
                 }
            </td>
        </tr>
        }
    </tbody>
</table>
